<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<!-- NHibernate Section -->
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
	</configSections>
	<connectionStrings>
		<add name="Inventory" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename='C:\Work\Projects\Inventory\Database\Inventory.mdf';Initial Catalog=Inventory;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>