<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<system.serviceModel>
		<services>
			<service name="Inventory.Business.Managers.InventoryManager">
				<endpoint address="net.tcp://localhost:8009/InventoryService" binding="netTcpBinding" contract="Inventory.Client.Contracts.IInventoryService" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding transactionFlow="true" maxReceivedMessageSize="2000000">
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>